@font-face {
  font-family: "Mulish";
  src: url("../../fonts/Mulish/Mulish-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YellowTail";
  src: url("../../fonts/Yellowtail/Yellowtail-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #df492d;
  --color-on-primary: #fffdfa;
  --color-primary-container: #fbe9e6;
  --color-on-primary-container: #3a120c;

  --color-secondary: #3e2e2c;
  --color-on-secondary: #fffdfa;
  --color-secondary-container: #e9d9d6;
  --color-on-secondary-container: #24120f;

  --color-tertiary: #dbb891;
  --color-on-tertiary: #3e2c20;
  --color-tertiary-container: #fff4eb;
  --color-on-tertiary-container: #7b4b35;

  --color-background: #fffdfa;
  --color-surface: #fcf4f1;
  --color-on-background: #3a2a25;
  --color-on-surface: #4a322c;

  --color-outline: #dbc8c2;
  --color-shadow: 0 4px 24px rgba(75, 45, 35, 0.06);

  --font-primary: "Mulish", sans-serif;
  --font-secondary: "YellowTail", cursive;

  --radius-xl: 2rem;
}
