@font-face {
  font-family: "Pacifico";
  src: url("../../fonts/Pacifico/Pacifico-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontSerrat";
  src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing";
  src: url("../../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #bc6c25;
  --color-on-primary: #fffdfa;
  --color-primary-container: #f9efe3;
  --color-on-primary-container: #2d4059;

  --color-secondary: #2d4059;
  --color-on-secondary: #fffdfa;
  --color-secondary-container: #e4c27a;
  --color-on-secondary-container: #2d4059;

  --color-tertiary: #e4c27a;
  --color-on-tertiary: #2d4059;
  --color-tertiary-container: #fffdfa;
  --color-on-tertiary-container: #bc6c25;

  --color-background: #fffdfa;
  --color-surface: #f9efe3;
  --color-on-background: #2d4059;
  --color-on-surface: #2d4059;

  --color-outline: #d7ccc8;
  --color-shadow: 0 4px 24px rgba(45, 64, 89, 0.05);

  --font-body: "Montserrat", sans-serif;
  --font-title: "Playfair Display", serif;
  --font-logo: "Pacifico";
  --font-alt: "Dancing Script", cursive;

  --radius-xl: 2rem;
}
