@font-face {
  font-family: "Pacifico";
  src: url("../../fonts/Pacifico/Pacifico-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontSerrat";
  src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing";
  src: url("../../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

@theme {
  /* --color-primary: #df492c; */
  /* --color-primary: #c16856; */
  --color-primary: #b8503d; /* Rouge terracotta : profond, appétissant */
  --color-on-primary: #fffdfa;
  --color-primary-container: #fbe9e6; /* Version pastel/crémeuse */
  --color-on-primary-container: #3a120c;

  --color-secondary: #3e2e2c; /* Chocolat noir, pour contraste et élégance */
  --color-on-secondary: #fffdfa;
  --color-secondary-container: #e9d9d6;
  --color-on-secondary-container: #24120f;

  --color-tertiary: #dbb891; /* Beige caramel doux, évoque les viennoiseries ou le bois clair */
  --color-on-tertiary: #3e2c20;
  --color-tertiary-container: #fff4eb;
  --color-on-tertiary-container: #7b4b35;

  --color-background: #fffdfa;
  --color-surface: #fcf4f1;
  --color-on-background: #3a2a25;
  --color-on-surface: #4a322c;

  --color-outline: #dbc8c2;
  --color-shadow: 0 4px 24px rgba(75, 45, 35, 0.06);

  --font-body: "Montserrat", sans-serif;
  --font-title: "Playfair Display", serif;
  --font-logo: "Pacifico";
  --font-alt: "Dancing Script", cursive;

  --radius-xl: 2rem;
}
