@utility typography-tertiary-xl-bold {
  font-family: var(--font-logo);
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
  line-height: 1.2;
}

@utility typography-tertiary-l-bold {
  font-family: var(--font-logo);
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 1.25;
}

@utility typography-tertiary-m-bold {
  font-family: var(--font-logo);
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  line-height: 1.3;
}

@utility typography-tertiary-s-bold {
  font-family: var(--font-logo);
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 1.3;
}

@utility typography-tertiary-xs-bold {
  font-family: var(--font-logo);
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  line-height: 1.35;
}

@utility typography-tertiary-xl {
  font-family: var(--font-logo);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.2;
}

@utility typography-tertiary-l {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

@utility typography-tertiary-m {
  font-family: var(--font-logo);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}

@utility typography-tertiary-s {
  font-family: var(--font-logo);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

@utility typography-tertiary-xs {
  font-family: var(--font-logo);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.35;
}
